// 字體
$font-family-sans-serif: "Noto Sans TC", sans-serif;
$font-family-serif: "Noto Serif TC", serif;
$headings-font-family: $font-family-serif; // 標題用襯線

// 字重
$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;
